@model UseNotesApplication.ViewModels.RegistrationViewModel

@{
    ViewData["Title"] = "Register";
}

<!-- Container -->
<div class="container mt-5 w-75">
            <div class="card shadow-lg">
                <div class="card-header bg-custom text-white text-center">
                    <h3 class="mb-10">Sign Up</h3>
                </div>
                <div class="card-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            Please fix the following errors and try again.
                        </div>
                    }

                    <form asp-action="Register" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Upload 5 Images</label>
                            <input type="file" name="Images" multiple required class="form-control" />
                            <span asp-validation-for="Images" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Enter the sequence for each image (1-5):</label>
                            <div class="d-flex gap-2">
                                @for (int i = 0; i < 5; i++)
                                {
                                    <input type="number" name="Sequence" min="1" max="5" required class="form-control w-100" />
                                }
                            </div>
                        </div>

                        <button type="submit" class="btn bg-custom w-100">Register</button>
                    </form>
                </div>
            </div>
   
</div>
